{% extends "base.html" %} {% block beta %}{% endblock %} {% block drawer_toggle
%}{% endblock %} {% block drawer %}{% endblock %} {% block toolbar_title %} {%if
USE_CUSTOM_LOGO %}
<span
  class="q-btn q-btn-item non-selectable no-outline q-btn--flat q-btn--rectangle q-focusable q-btn--no-uppercase q-btn--wrap q-btn--dense"
>
  <img height="30px" alt="Logo" src="{{ USE_CUSTOM_LOGO }}" class="" />
</span>
{%else%} {% if SITE_TITLE != 'LNbits' %} {{ SITE_TITLE }} {% else %}
<strong>LN</strong>bits {% endif %} {% endif %} {% endblock %}
